@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Variables
$color-primary-darkviolet: hsl(256, 26%, 20%);
$color-primary-grayblue: hsl(216, 30%, 68%);
$color-secondary-darkviolet: hsl(270, 9%, 17%);
$color-secondary-grayviolet: hsl(273, 4%, 51%);
$color-secondary-lightgray: hsl(0, 0%, 98%);

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  /* font-family: 'DM Serif Display', serif; */
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
