@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  background-color: #fff;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95vw;
  height: 80px;
  padding: 0 3rem;
  margin-left: 3vw;
}

.nav__inner-container a {
  color: #837d87;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__inner-container a:not(last-child):hover {
  color: #2b272f;
}

.nav__inner-container a:last-child:hover {
  color: #fff;
}

.nav__inner-container--btn {
  border: 2px solid #2b272f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__inner-container--btn:hover {
  background-color: #2b272f;
}

.nav__menuBtn {
  display: none;
}

.nav-mobile {
  display: none;
}

.hero-section {
  background-color: #2d2640;
  height: 65vh;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.hero-section .hero-content {
  width: 40%;
  margin: 5vh 0 0 20vh;
}

.hero-section .hero-content__heading {
  color: #fff;
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4vh;
}

.hero-section .hero-content__text {
  color: #fafafa;
  line-height: 2rem;
  width: 80%;
  margin-bottom: 5vh;
}

.hero-section .hero-content__btn {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid white;
  letter-spacing: 1px;
  padding: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hero-section .hero-content__btn:hover {
  color: #2d2640;
  background-color: #fff;
}

.hero-section__img-right {
  position: absolute;
  top: -5rem;
  right: 0;
  z-index: 1;
}

.bg-img {
  position: relative;
}

.bg-img__family-photo {
  position: absolute;
  right: 11rem;
  top: -33rem;
}

.bg-img__img-left {
  position: absolute;
  left: 0;
  top: -10rem;
}

.middle-section {
  height: 110vh;
  margin: 15vh 0 0 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10vh;
}

.middle-section .bg-pattern-right-mobile {
  display: none;
}

.middle-section__heading {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 4rem;
}

.middle-section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.middle-section .cards-container .process-card img,
.middle-section .cards-container .prices-card img,
.middle-section .cards-container .people-card img {
  margin-bottom: 1.5rem;
}

.middle-section .cards-container .process-card__heading,
.middle-section .cards-container .prices-card__heading,
.middle-section .cards-container .people-card__heading {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 2rem;
}

.middle-section .cards-container .process-card__text,
.middle-section .cards-container .prices-card__text,
.middle-section .cards-container .people-card__text {
  width: 75%;
  color: #837d87;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.middle-section .about-section {
  width: 85vw;
  height: 25vh;
  background-color: #2d2640;
  background-image: url('./img/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px;
}

.middle-section .about-section__heading {
  color: #fff;
  width: 40%;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 4rem;
}

.middle-section .about-section__btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.middle-section .about-section__btn:hover {
  color: #2d2640;
  background-color: #fff;
}

.facebook-icon {
  -webkit-mask: url('./img/icon-facebook.svg');
  mask: url('./img/icon-facebook.svg');
}

.twitter-icon {
  -webkit-mask: url('./img/icon-twitter.svg');
  mask: url('./img/icon-twitter.svg');
}

.pinterest-icon {
  -webkit-mask: url('./img/icon-pinterest.svg');
  mask: url('./img/icon-pinterest.svg');
}

.instagram-icon {
  -webkit-mask: url('./img/icon-instagram.svg');
  mask: url('./img/icon-instagram.svg');
}

.facebook-icon,
.twitter-icon,
.pinterest-icon,
.instagram-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: #837d87;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.facebook-icon:hover,
.twitter-icon:hover,
.pinterest-icon:hover,
.instagram-icon:hover {
  background-color: #2d2640;
}

footer {
  height: 40vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-image: url('./img/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-color: #fafafa;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  margin: 0 10vh 0 20vh;
}

footer .footer-top .socials {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5vw 0 10vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

footer .footer-bottom .company-info,
footer .footer-bottom .help-info,
footer .footer-bottom .contact-info,
footer .footer-bottom .other-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

footer .footer-bottom .company-info__heading,
footer .footer-bottom .help-info__heading,
footer .footer-bottom .contact-info__heading,
footer .footer-bottom .other-info__heading {
  color: gray;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

footer .footer-bottom .company-info a,
footer .footer-bottom .help-info a,
footer .footer-bottom .contact-info a,
footer .footer-bottom .other-info a {
  color: #2d2640;
  text-decoration: none;
  margin-bottom: 1rem;
  font-weight: 700;
}

footer .footer-bottom .company-info a:hover,
footer .footer-bottom .help-info a:hover,
footer .footer-bottom .contact-info a:hover,
footer .footer-bottom .other-info a:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1440px) {
  .bg-img__family-photo {
    background-image: url('./img/image-intro-mobile.jpg');
    right: 10em;
    top: -20rem;
    height: 500px;
  }
  .middle-section .about-section {
    height: auto;
  }
  footer .footer-top {
    margin: 0 10vh 0 17vh;
  }
  footer .footer-top .socials {
    width: 15%;
  }
}

@media only screen and (max-width: 1200px) {
  .bg-img__family-photo {
    right: 5em;
  }
  .middle-section {
    height: 125vh;
  }
  .middle-section .about-section {
    height: 40%;
  }
  .middle-section .about-section__heading {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  .nav__inner-container {
    display: none;
  }
  .nav__menuBtn {
    display: block;
    cursor: pointer;
  }
  .nav-mobile {
    position: absolute;
    margin-top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #2b272f;
    background-image: url('./img/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10vh;
    opacity: 0;
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-mobile a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1rem;
  }
  .nav-mobile__btn {
    border: 2px solid #fff;
    padding: 1rem 2rem;
  }
  .nav-mobile__btn:hover {
    background-color: #fff;
    color: #2d2640;
  }
  .nav-mobile.show {
    opacity: 1;
  }
  .hero-section .hero-content {
    margin-left: 3rem;
  }
  .hero-section .hero-content__btn {
    margin-left: 5rem;
  }
  .bg-img__family-photo {
    background-image: url('./img/image-intro-mobile.jpg');
    right: 0;
    top: -35rem;
  }
  .middle-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .middle-section__heading {
    margin-left: 6rem;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
  .middle-section .cards-container {
    margin-left: 6rem;
  }
  .middle-section .cards-container .process-card__heading,
  .middle-section .cards-container .prices-card__heading,
  .middle-section .cards-container .people-card__heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .middle-section .about-section {
    height: auto;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .middle-section .about-section__heading {
    font-size: 3rem;
  }
  footer .footer-top {
    margin: 0 5vh 0 8vh;
  }
  footer .footer-top .socials {
    width: 20%;
  }
}

@media only screen and (max-width: 820px) {
  .wrapper {
    min-width: 375px;
  }
  .hero-section__img-right,
  .bg-img__family-photo,
  .bg-img__img-left {
    display: none;
  }
  .bg-family-mobile {
    display: block;
    margin-top: 0;
    background-image: url('./img/image-intro-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    height: 300px;
  }
  .hero-section {
    background-image: url('./img/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    padding: 5rem 0;
    height: 400px;
    width: 100%;
    position: relative;
  }
  .hero-section .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    margin: 3rem 0 0 0;
  }
  .hero-section .hero-content__heading {
    text-align: center;
    line-height: 1;
    font-size: 3.5rem;
  }
  .hero-section .hero-content__text {
    text-align: center;
  }
  .hero-section .hero-content__btn {
    margin-left: 0;
  }
  .middle-section {
    position: relative;
    height: auto;
    margin: 6rem 0;
    padding: 0;
  }
  .middle-section .bg-pattern-right-mobile {
    display: block;
    position: absolute;
    top: -12rem;
    right: 0;
  }
  .middle-section__heading {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .middle-section .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 5rem;
  }
  .middle-section .cards-container .process-card,
  .middle-section .cards-container .prices-card,
  .middle-section .cards-container .people-card {
    text-align: center;
  }
  .middle-section .cards-container .process-card__heading,
  .middle-section .cards-container .prices-card__heading,
  .middle-section .cards-container .people-card__heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .middle-section .cards-container .process-card__text,
  .middle-section .cards-container .prices-card__text,
  .middle-section .cards-container .people-card__text {
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }
  .middle-section .about-section {
    height: auto;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5rem 0;
    background-image: url('./img/bg-pattern-how-we-work-mobile.svg');
    background-position: top right;
  }
  .middle-section .about-section__heading {
    font-size: 2.5rem;
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
  }
  footer {
    background-image: url('./img/bg-pattern-footer-mobile.svg');
    background-size: contain;
    height: auto;
  }
  footer .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding-top: 4rem;
    margin-bottom: 3rem;
  }
  footer .footer-top .logo {
    margin-bottom: 2rem;
  }
  footer .footer-top .socials {
    width: 50%;
    margin-bottom: 2rem;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5rem;
  }
  .footer-bottom .company-info,
  .footer-bottom .help-info,
  .footer-bottom .contact-info,
  .footer-bottom .other-info {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-bottom .company-info h6,
  .footer-bottom .help-info h6,
  .footer-bottom .contact-info h6,
  .footer-bottom .other-info h6 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */
